@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: oklch(1 0 none);
  --color-base-200: oklch(0.94 0 0);
  --color-base-300: oklch(0.87 0 0);
  --color-base-content: oklch(0.33 0 0);
  --color-primary: oklch(0.72 0.16 39.85);
  --color-primary-content: oklch(1 0 none);
  --color-secondary: oklch(0.37 0.05 269.22);
  --color-secondary-content: oklch(1 0 none);
}

@plugin "daisyui/theme" {
  name: "dark";
  --default-font-family: var(--font-sf);
  --color-base-100: oklch(0.22 0 none);
  --color-base-200: oklch(0.25 0 0);
  --color-base-300: oklch(0.29 0 0);
  --color-base-content: oklch(1 0 none);
  --color-primary: oklch(0.72 0.16 39.85);
  --color-primary-content: oklch(1 0 none);
  --color-secondary: oklch(0.37 0.05 269.22);
  --color-secondary-content: oklch(1 0 none);
}
