@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary-light: rgb(250 246 245);
}

@plugin "@iconify/tailwind4";

@plugin "daisyui" {
  exclude: rootscrollgutter;
}
@plugin "daisyui/theme" {
  name: "light";
  --color-base-100: oklch(1 0 none);
  --color-base-200: oklch(0.94 0 0);
  --color-base-300: oklch(0.87 0 0);
  --color-base-content: oklch(0.33 0 0);
  --color-primary: oklch(0.72 0.16 39.85);
  --color-error: oklch(0.66 0.2005 24.41);
  --color-error-content: oklch(1 0 none);
  --color-primary-content: oklch(1 0 none);
  --color-secondary: oklch(0.37 0.05 269.22);
  --color-secondary-content: oklch(1 0 none);
}

@plugin "daisyui/theme" {
  name: "dark";
  --default-font-family: var(--font-sf);
  --color-base-100: oklch(0.22 0 none);
  --color-base-200: oklch(0.25 0 0);
  --color-base-300: oklch(0.29 0 0);
  --color-base-content: oklch(1 0 none);
  --color-primary: oklch(0.72 0.16 39.85);
  --color-error: oklch(0.7 0.1785 22.9);
  --color-error-content: oklch(1 0 none);
  --color-primary-content: oklch(1 0 none);
  --color-secondary: oklch(0.37 0.05 269.22);
  --color-secondary-content: oklch(1 0 none);
}

.collapse-reverse:is([open], :focus:not(.collapse-close)),
.collapse-reverse:not(.collapse-close):has(
    > input:is([type="checkbox"], [type="radio"]):checked
  ) {
  @apply grid grid-rows-[1fr_max-content];
}
